name: Validate and publish

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PINATA_API_KEY: ${{ secrets.PINATA_API_KEY }}
      PINATA_API_SECRET: ${{ secrets.PINATA_API_SECRET }}
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-java@v1
      with:
        java-version: "9.0.4"
    - uses: DeLaGuardo/setup-clojure@2.0
      with:
        tools-deps: "1.10.1.469"
    - name: Install Pandoc 2.6
      run: |
        wget https://github.com/jgm/pandoc/releases/download/2.6/pandoc-2.6-1-amd64.deb
        sudo dpkg -i pandoc-2.6-1-amd64.deb
    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: Build and validate documents
      run: |
        npm ci
        npm run build
        npm run validate
      env:
        LANG: en_US.UTF-8
        CI: true
    - name: Build JSON-LD
      run: |
        clojure -Sdeps "{:deps {ontology-linker {:git/url \"https://github.com/sander/ontology-linker\" :sha \"0caaacda6928cde9a6704ba3daf550c9d8cc2115\"}}}" \
          -e "(use 'nl.sanderdijkhuis.ontology.linker) (build-linked-data! \"/home/runner/work/datascienceontology/datascienceontology/build\" \"/home/runner/work/datascienceontology/datascienceontology/json-ld\")"
    - name: Publish on IPFS
      run: |
        cd /home/runner/work/datascienceontology/datascienceontology && find pub -type f -print0 | xargs -0 -I % echo -F"\"file=@%;filename=%\"" | sed 's/"/\\"/g' | xargs | xargs curl https://api.pinata.cloud/pinning/pinFileToIPFS -H pinata_api_key:$PINATA_API_KEY -H pinata_secret_api_key:$PINATA_API_SECRET
