name: Validate and publish

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      COUCH_URL: ${{ secrets.COUCH_URL }}
      IAM_API_KEY: ${{ secrets.IAM_API_KEY }}
    steps:
    - uses: actions/checkout@v1
    - name: Install Pandoc 2.6
      run: |
        wget https://github.com/jgm/pandoc/releases/download/2.6/pandoc-2.6-1-amd64.deb
        sudo dpkg -i pandoc-2.6-1-amd64.deb
    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: Build and validate documents
      run: |
        npm ci
        npm run build
        npm run validate
      env:
        LANG: en_US.UTF-8
        CI: true
    - name: Build JSON-LD
      run: |
        clj -Sdeps "{:deps {ontology-linker {:git/url \"https://github.com/sander/ontology-linker\" :sha \"0caaacda6928cde9a6704ba3daf550c9d8cc2115\"}}}" \
          -e "(use 'nl.sanderdijkhuis.ontology.linker) (build-linked-data! \"/home/runner/work/datascienceontology/datascienceontology/build\" \"/home/runner/work/datascienceontology/datascienceontology/json-ld\")"
    - name: Verify result visually
      run: cat /home/runner/work/datascienceontology/datascienceontology/json-ld/index.json
